.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}


.card{
    background-color: var(--light-bg);
    border: 1px solid var(--border);
    padding: 1em 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1{
    font-size: 30px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top p, .close span{
    color: var(--font-color-light);
}
.close{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--medium-bg);
}
.close span{
    font-size: 1.3em;
}

.currency{
    font-size: medium;
}
.btns{
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: .5em;
}
.btns button{
    width: calc(100%/2);
    padding: .5em;
    border-radius: 50px;
    height: 45px;
}
.btn_1{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
    color: var(--white);
}
.btn_2, .btn_3{
    background-color: var(--medium-bg);
    border: 1px solid var(--border) ;
    color: var(--font-color);
}

.btn{
    padding: .75em 2em;
    margin: 3em auto;
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    filter: drop-shadow(2px 2px 80px var(--primary-color));
}