.profile {
    display: flex;
    align-items: center;
    gap: 2em;
}

.content {
    display: flex;
    align-items: center;
    gap: .5em;
}

.profile_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--light-bg);
    border: 5px solid var(--border);
}
.profile_img img{
    height: 100%;
}

.profile input{
    display: none;
}

.btn {
    padding: .75em 1em;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 50px;
    font-size: small;
}

.body p {
    color: var(--font-color-light);
}

@media (max-width:480px) {
    .profile{
        flex-direction: column;
        align-items: unset;
        gap: 1em;
    }
    .btn{
        width: 130px;
        padding: .5em 1em;
    }
}